In [35]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [36]:
import pandas as pd

In [37]:
crime=pd.read_csv(r'Chicago_Crimes.csv')

In [38]:
crime.head()

,ID,CaseNumber,Date,Block,IUCR,PrimaryType,Description,LocationDescription,Arrest,Domestic,...,Ward,CommunityArea,FBICode,XCoordinate,YCoordinate,Year,UpdatedOn,Latitude,Longitude,Location
0,11359733,JB322861,6/26/2018 0:00,065XX S CHAMPLAIN AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,False,...,20,42,14,1181694,1861715,2018,07-03-2018 15:55,41.775778,-87.609474,"(41.775777528, -87.609474002)"
1,11359767,JB322876,6/26/2018 0:13,077XX S KINGSTON AVE,460,BATTERY,SIMPLE,RESIDENCE,True,False,...,7,43,08B,1194533,1854177,2018,07-03-2018 15:55,41.754787,-87.562656,"(41.754786521, -87.562655871)"
2,11359775,JB322872,6/26/2018 0:10,098XX S HALSTED ST,520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,CTA BUS,True,False,...,21,73,04A,1172709,1839753,2018,07-03-2018 15:55,41.715714,-87.643058,"(41.715713748, -87.643057853)"
3,11359829,JB322939,6/26/2018 2:38,011XX W 64TH ST,530,ASSAULT,AGGRAVATED: OTHER DANG WEAPON,APARTMENT,True,True,...,16,68,04A,1169609,1862354,2018,07-03-2018 15:55,41.777802,-87.653758,"(41.777801618, -87.653757812)"
4,11359860,JB322935,6/26/2018 1:40,048XX S WINCHESTER AVE,1360,CRIMINAL TRESPASS,TO VEHICLE,ALLEY,True,False,...,20,61,26,1164167,1872664,2018,07-03-2018 15:55,41.806210,-87.673418,"(41.806209835, -87.67341821)"

In [39]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1577 entries, 0 to 1576
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1577 non-null   int64
 1   CaseNumber           1577 non-null   object
 2   Date                 1577 non-null   object
 3   Block                1577 non-null   object
 4   IUCR                 1577 non-null   object
 5   PrimaryType          1577 non-null   object
 6   Description          1577 non-null   object
 7   LocationDescription  1577 non-null   object
 8   Arrest               1577 non-null   bool
 9   Domestic             1577 non-null   bool
 10  Beat                 1577 non-null   int64
 11  District             1577 non-null   int64
 12  Ward                 1577 non-null   int64
 13  CommunityArea        1577 non-null   int64
 14  FBICode              1577 non-null   object
 15  XCoordinate          1577 non-null   int64
 16  YCoordinate          1577 non-null   int64
 17  Year                 1577 non-null   int64
 18  UpdatedOn            1577 non-null   object
 19  Latitude             1577 non-null   float64
 20  Longitude            1577 non-null   float64
 21  Location             1577 non-null   object
dtypes: bool(2), float64(2), int64(8), object(10)
memory usage: 249.6+ KB

In [40]:
crime.isnull().sum()

ID                     0
CaseNumber             0
Date                   0
Block                  0
IUCR                   0
PrimaryType            0
Description            0
LocationDescription    0
Arrest                 0
Domestic               0
Beat                   0
District               0
Ward                   0
CommunityArea          0
FBICode                0
XCoordinate            0
YCoordinate            0
Year                   0
UpdatedOn              0
Latitude               0
Longitude              0
Location               0
dtype: int64

In [41]:
crime.head()

,ID,CaseNumber,Date,Block,IUCR,PrimaryType,Description,LocationDescription,Arrest,Domestic,...,Ward,CommunityArea,FBICode,XCoordinate,YCoordinate,Year,UpdatedOn,Latitude,Longitude,Location
0,11359733,JB322861,6/26/2018 0:00,065XX S CHAMPLAIN AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,False,...,20,42,14,1181694,1861715,2018,07-03-2018 15:55,41.775778,-87.609474,"(41.775777528, -87.609474002)"
1,11359767,JB322876,6/26/2018 0:13,077XX S KINGSTON AVE,460,BATTERY,SIMPLE,RESIDENCE,True,False,...,7,43,08B,1194533,1854177,2018,07-03-2018 15:55,41.754787,-87.562656,"(41.754786521, -87.562655871)"
2,11359775,JB322872,6/26/2018 0:10,098XX S HALSTED ST,520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,CTA BUS,True,False,...,21,73,04A,1172709,1839753,2018,07-03-2018 15:55,41.715714,-87.643058,"(41.715713748, -87.643057853)"
3,11359829,JB322939,6/26/2018 2:38,011XX W 64TH ST,530,ASSAULT,AGGRAVATED: OTHER DANG WEAPON,APARTMENT,True,True,...,16,68,04A,1169609,1862354,2018,07-03-2018 15:55,41.777802,-87.653758,"(41.777801618, -87.653757812)"
4,11359860,JB322935,6/26/2018 1:40,048XX S WINCHESTER AVE,1360,CRIMINAL TRESPASS,TO VEHICLE,ALLEY,True,False,...,20,61,26,1164167,1872664,2018,07-03-2018 15:55,41.806210,-87.673418,"(41.806209835, -87.67341821)"

In [42]:
crime.dtypes

ID                       int64
CaseNumber              object
Date                    object
Block                   object
IUCR                    object
PrimaryType             object
Description             object
LocationDescription     object
Arrest                    bool
Domestic                  bool
Beat                     int64
District                 int64
Ward                     int64
CommunityArea            int64
FBICode                 object
XCoordinate              int64
YCoordinate              int64
Year                     int64
UpdatedOn               object
Latitude               float64
Longitude              float64
Location                object
dtype: object

In [53]:
crime = crime.astype({"Latitude": "object", "Logitude": "object"})

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'

In [45]:
crime.isnull().sum()

ID                     0
CaseNumber             0
Date                   0
Block                  0
IUCR                   0
PrimaryType            0
Description            0
LocationDescription    0
Arrest                 0
Domestic               0
Beat                   0
District               0
Ward                   0
CommunityArea          0
FBICode                0
XCoordinate            0
YCoordinate            0
Year                   0
UpdatedOn              0
Latitude               0
Longitude              0
Location               0
dtype: int64

In [46]:
# Assign X (data) and y (target)


X = crime.iloc[:,15:18]
y = crime["CommunityArea"]
print(X.shape, y.shape)

(1577, 3) (1577,)

In [47]:
X

      XCoordinate  YCoordinate  Year
0         1181694      1861715  2018
1         1194533      1854177  2018
2         1172709      1839753  2018
3         1169609      1862354  2018
4         1164167      1872664  2018
...           ...          ...   ...
1572      1161059      1870794  2018
1573      1148885      1930759  2018
1574      1179989      1863814  2018
1575      1171920      1852467  2018
1576      1173924      1854508  2018

[1577 rows x 3 columns]

In [48]:
y

0       42
1       43
2       73
3       68
4       61
        ..
1572     3
1573    43
1574    63
1575    14
1576    40
Name: CommunityArea, Length: 1577, dtype: int64

In [49]:
X.isnull().sum()

XCoordinate    0
YCoordinate    0
Year           0
dtype: int64

In [50]:
from sklearn.model_selection import train_test_split
#strafity helps to make the data more random

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10, random_state=2)

In [51]:
#create a logisitc regression model 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=100000)
classifier

LogisticRegression(max_iter=100000)

In [17]:
#fit (train) model with training data 
classifier.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [24]:
#validata model using test data
#
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.14587737843551796
Testing Data Score: 0.14556962025316456

In [25]:
#make predictions 
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [29 43 43 25 43 67 25 43 43 25]
First 10 Actual labels: [8, 42, 43, 76, 53, 67, 20, 43, 42, 23]

In [168]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction  Actual
0            29       8
1            43      42
2            43      43
3            76      76
4            43      53
5            29      67
6            25      20
7            43      43
8            43      42
9            25      23
10           25      22
11           25      27
12           43      46
13           52      52
14           29      66
15           25       2
16           43      49
17           43      43
18           29      31
19           29      65
20           25       2
21           29      32
22           29      32
23           43      71
24           25      29
25           29      69
26           25      27
27           25      28
28           67      68
29           29      28
..          ...     ...
128          25      25
129          43      45
130          43      73
131          25      17
132          43      43
133          29      25
134          49      51
135          25      28
136          29      31
137          29       8
138          25      25
139          29      61
140          25      23
141          43      69
142          25      30
143          25      43
144          43      71
145          25      23
146          43      49
147          29      59
148          29      66
149          25      77
150          43      69
151          25      25
152          67      67
153          25      24
154          25       2
155          43      73
156          25      23
157          43      50

[158 rows x 2 columns]

# RandomForest Algorithm

In [26]:
#### random forest
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.810126582278481

In [27]:
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.9859055673009162
Testing Data Score: 0.810126582278481

In [28]:
predictions = rf.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [ 8 42 43 76 53 61 71 43 42 23]
First 10 Actual labels: [8, 42, 43, 76, 53, 67, 20, 43, 42, 23]

In [171]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction  Actual
0             8       8
1            42      42
2            43      43
3            76      76
4            53      53
5            61      67
6            71      20
7            43      43
8            42      42
9            23      23
10           22      22
11           27      27
12           46      46
13           52      52
14           66      66
15            2       2
16           49      49
17           43      43
18           31      31
19           65      65
20           21       2
21           32      32
22           32      32
23           71      71
24           29      29
25           66      69
26           27      27
27           28      28
28           68      68
29           28      28
..          ...     ...
128          25      25
129          45      45
130          73      73
131          17      17
132          43      43
133          61      25
134          51      51
135          28      28
136          31      31
137          25       8
138          25      25
139          61      61
140          23      23
141          44      69
142          30      30
143           8      43
144          44      71
145          23      23
146          49      49
147          59      59
148          66      66
149          77      77
150          69      69
151          25      25
152          67      67
153           8      24
154           2       2
155          73      73
156          23      23
157          50      50

[158 rows x 2 columns]

In [29]:
feature_names = X.columns

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.5147437866982669, 'YCoordinate'),
 (0.48525621330173313, 'XCoordinate'),
 (0.0, 'Year')]